In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
#with the help of pandas we are reading csv file
df=pd.read_csv(r"C:\Users\msaur\OneDrive\Desktop\shraddha.dataset\googleplaystore.csv")
#by using head we are getting top 5 values
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone

In [4]:
#info is use for checking the information about the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
dtypes: float64(1), object(8)
memory usage: 762.4+ KB

In [5]:
#checking for the null values
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
dtype: int64

In [7]:
#we are finding the mean of the Rating column and storing that into kp variable
kp=df["Rating"].mean()

In [8]:
#using fillna we are filling the missing value of Rating column and for permanent change we are using inplace
df["Rating"].fillna(kp,inplace=True)

In [10]:
#checking for the null values now we can observe Rating column does not contain any null value
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
dtype: int64

In [11]:
#with the help of dropna we are droping two rows from the Type and Content Rating columns
df.dropna(inplace=True)

In [14]:
#now we are checking for the null values in the form of %
df.isnull().sum()/len(df)*100

App               0.0
Category          0.0
Rating            0.0
Reviews           0.0
Size              0.0
Installs          0.0
Type              0.0
Price             0.0
Content Rating    0.0
dtype: float64

In [15]:
#Reviews column have numeric value but it is showing as object so with the help of astype we are converting data type 
df['Reviews']=df['Reviews'].astype(float)

In [16]:
#reviews column now have float values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  float64
 4   Size            10839 non-null  object
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(2), object(7)
memory usage: 846.8+ KB

In [17]:
#checking for the value count of the Size column
df["Size"].value_counts()

Varies with device    1694
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: Size, Length: 461, dtype: int64

In [19]:
#using function we are replacing K,M and Varies with device values from Size column
def count_size(x):
    if 'k' in x:
        x=x.replace("k",'')
        return float(x)/1024
    elif "M" in x:
        x=x.replace("M","")
        return float(x)
    elif "Varies with device" in x:
        return np.nan
    else:
        return float(x)

In [21]:
#making changes permanent by storing into same variable
df['Size']=df['Size'].map(count_size)

In [23]:
#using sample we are getting random rows from dataset
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
2528,TelaDoc,MEDICAL,4.193338,6.0,13.0,"1,000+",Free,0,Everyone
4061,Temple Run,GAME,4.193338,4000433.0,42.0,"100,000,000+",Free,0,Everyone
10424,First Hawaiian Bank Mobile,FINANCE,4.193338,232.0,29.0,"10,000+",Free,0,Everyone
2217,Sweet Baby Girl Newborn Baby,FAMILY,4.193338,36028.0,50.0,"5,000,000+",Free,0,Everyone
7251,CF PD,FINANCE,4.193338,4.0,2.7,100+,Free,0,Everyone

In [24]:
#checking for information
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  float64
 4   Size            9145 non-null   float64
 5   Installs        10839 non-null  object
 6   Type            10839 non-null  object
 7   Price           10839 non-null  object
 8   Content Rating  10839 non-null  object
dtypes: float64(3), object(6)
memory usage: 846.8+ KB

In [25]:
#from Installs column i'm replacing "+","," with nothing and storing into same variable
df["Installs"]=df["Installs"].str.replace("+","")
df["Installs"]=df["Installs"].str.replace(",","")

In [26]:
#getting top 5 rows from data set and checking for changes
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.193338,159.0,19.0,10000,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,4.193338,967.0,14.0,500000,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.193338,87510.0,8.7,5000000,Free,0,Everyone
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.193338,215644.0,25.0,50000000,Free,0,Teen
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.193338,967.0,2.8,100000,Free,0,Everyone

In [27]:
##Installs column have numeric value but it is showing as object so with the help of astype we are converting data type 
df["Installs"]=df["Installs"].astype(float)

In [29]:
#checking top 3 rows
df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.193338,159.0,19.0,10000.0,Free,0,Everyone
1,Coloring book moana,ART_AND_DESIGN,4.193338,967.0,14.0,500000.0,Free,0,Everyone
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.193338,87510.0,8.7,5000000.0,Free,0,Everyone

In [30]:
#checking for the value count of the Price column
df["Price"].value_counts()

0         10039
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [31]:
#from Price column i'm replacing "$" with nothing and storing into same variable
df["Price"]=df["Price"].str.replace("$","")

In [32]:
#with the help of astype i'm converting datatype of Price column as storing into same variable
df["Price"]=df['Price'].astype(float)

In [34]:
#using sample we are getting random rows from dataset
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
5950,Banana Kong,GAME,4.193338,3452530.0,68.000000,100000000.0,Free,0.0,Everyone
9451,EJ Insight,NEWS_AND_MAGAZINES,4.193338,33.0,0.273438,1000.0,Free,0.0,Everyone
4783,Robocar X Ray,GAME,4.193338,3432.0,99.000000,1000000.0,Free,0.0,Mature 17+
10153,EZ Wifi Notification,COMMUNICATION,4.193338,260.0,0.188477,10000.0,Free,0.0,Everyone
89,Zona Azul Digital Fácil SP CET - OFFICIAL São ...,AUTO_AND_VEHICLES,4.193338,7880.0,NaN,100000.0,Free,0.0,Everyone

In [35]:
#checking information of  googleplaystore dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  float64
 4   Size            9145 non-null   float64
 5   Installs        10839 non-null  float64
 6   Type            10839 non-null  object
 7   Price           10839 non-null  float64
 8   Content Rating  10839 non-null  object
dtypes: float64(5), object(4)
memory usage: 846.8+ KB